html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    color: #50535B;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
}

nav {
    background-color: #fff;
    color: #50535B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 5em;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.logo a {
    color: #c45640;
}

nav a {
    text-decoration: none;
    color: #50535B;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.nav-content {
    display: flex;
    flex-direction: column-reverse;
}

.nav-sections, ul.icon-links {
    display: flex;
    gap: 20px;
}

ul.icon-links li{
    text-decoration: none;
    list-style: none;
}

ul.icon-links li a{
    text-decoration: none;
    color: #8D9A9C;
    font-size: 1.5rem;
    transition: ease-in 0.2s;
}

ul.icon-links a:hover{
    color: #50535B;
    transition: ease-in 0.2s;
}

ul.icon-links {
    padding: 0;
}

.top-content {
    background: linear-gradient(#ffffff, #FDF6ED);
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 2.5em;
    margin-top: 5%;
    margin-bottom: -5%;

}

.about-img {
    text-align: center;
}

.about-img img {
    width: 100%;
}

.divider {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1155" fill="%238D9A9C"><path d="M968.99 1033c-187.45.85-174.59 47.22-449 48-352 1-463-239-463-548 0-273.09 190-474 496-472 277.28 1.81 277.22 60.83 470 57 252-5 217.88-56.12 487-57 305-1 431 290 433 526s-117.08 502.4-432 507c-342 5-322-62-542-61Z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 100px;
    height: 250px;
    margin-top: -80px;
}

.about h1 {
    color: #8D9A9C;
    font-size: 4rem;
    padding-bottom: 0px;
}

h2 {
    color: #8D9A9C;
    font-size: 3rem;
    margin: auto;
    padding-top: 40px;
}

.project-item {
    padding: 100px 120px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    background-color: #8D9A9C;
}

.project-item:nth-child(even) {
    background-color: #FDF6ED;
}

.project-item:nth-child(even) h1 {
    color: #8D9A9C;
}

.project-item:nth-child(even) button {
    background-color: #8d9a9cb8;
    color: #FDF6ED;
}

.project-item:nth-child(even) button:hover {
    background-color: #8d9a9c7d;
}
  
  button{
    width:110px;
    height:40px;
    position:relative;
    background:#fdf6edcf;
    text-transform:uppercase;
    color:#50535B;
    letter-spacing:1px;
    border:none;
    font-size:12px;
    outline:none;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-right: 15px;
    border-radius: 5px;
    transition: 300ms;
    margin-top: 15px;
  }

  button:hover {
    background: #fdf6ed6b;
  }
  
.project-item img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 8px 5px 20px -9px rgba(0,0,0,0.5);
}


h1 {
    color: #FDF6ED;
    font-size: 3rem;
    margin: 0;
}

.back-to-top {
    padding-bottom: 40px;
    text-align: center;
    background-color: #8D9A9C;
}

.back-to-top a {
    text-decoration: none;
    color: #FDF6ED;
    transition: 300ms;
    font-size: 2em;
}

.back-to-top a:hover {
    color: #fdf6ed9c;
}


@media (width <= 1000px) {
    .about {
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 60px;
        padding-left: 60px;
    }
    .about h1 {
    font-size: 3rem;
    line-height: 1em;
    }

    .about-text {
        text-align: center;
    }
    .about-img {
        margin-top: 20px;
        width: 80%;
    }
    ul.icon-links {
        text-align: center;
        justify-content: center;
    }

    .divider {
        padding-bottom: 0;
    }
    .project-item {
        padding: 60px;
    }
  }
  @media (width <= 575px) {
    nav {
        display: block;
        background-color: #51545b;
        padding-top: 30px;
        padding-bottom: 20px;
        color: #fff;
    }
    .logo {
        text-align: center;
        margin-bottom: 10px;
    }
    .nav-sections {
        display: block;
        text-align: center;
    }

    ul.nav-sections {
        padding: 0;
        margin: 0;
    }

    nav ul li {
        padding-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .about {
        padding-top: 20px;
    }
    .project-item {
        display: block;
        padding: 60px;
        text-align: center;
    }
  }
  