html {
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: #fff;
}

body {
    color: #50535B;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
}

nav {
    color: #50535B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 5em;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.logo a {
    color: #c45640;
}

nav a {
    text-decoration: none;
    color: #50535B;
    transition: all 0.3s ease-in-out;
    position: relative;
}

nav a:before{
    content: '';
    background: #c45640;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }
  
 nav a:hover {
   background-position: 0;
  }
  
  nav a:hover::before{
    width: 100%;
  }

nav ul li {
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.nav-content {
    display: flex;
    flex-direction: column-reverse;
}

.nav-sections, ul.icon-links {
    display: flex;
    gap: 20px;
}

ul.icon-links li{
    text-decoration: none;
    list-style: none;
}

ul.icon-links li a{
    text-decoration: none;
    color: #8D9A9C;
    font-size: 1.5rem;
    transition: ease-in 0.2s;
}

ul.icon-links a:hover{
    color: #50535B;
    transition: ease-in 0.2s;
}

ul.icon-links {
    padding: 0;
}

.top-content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 2.5em 0 5em;

}

.about-img {
    text-align: center;
}

.about-img img {
    width: 100%;
}

.about h1 {
    color: #8D9A9C;
    font-size: 4rem;
    padding-bottom: 0px;
}

h2 {
    color: #8D9A9C;
    font-size: 3rem;
    margin: auto;
    padding-top: 40px;
}

.project-item {
    padding: 120px;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: center;
}

.project-item:nth-child(even) {
    grid-template-columns: 1fr 2fr;
    .project-img {
    order: 2;
    }

    .project-text {
        order: 1;
    }

}
  
  button{
    width:110px;
    height:40px;
    background-color: #c45640;
    color: #fff;
    position:relative;
    text-transform:uppercase;
    letter-spacing:1px;
    border:none;
    font-size:12px;
    outline:none;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-right: 15px;
    border-radius: 10px;
    transition: 300ms;
    margin-top: 15px;
  }

  button:hover {
    background: #f0664a;
    color: #fff;
  }
  
.project-item img {
    width: 100%;
    border-radius: 5px;
}


h1 {
    font-size: 3rem;
    margin: 0;
}

.back-to-top {
    padding-bottom: 40px;
    text-align: center;
    margin-top: -1px;
}

.back-to-top a {
    text-decoration: none;
    transition: 300ms;
    font-size: 2em;
    color: #8d9a9c;
}

.back-to-top a:hover {
    color: #50535B;
}

.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }


@media (width <= 1000px) {
    .about {
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 60px;
        padding-left: 60px;
    }
    h1 {
        font-size: 2rem;
        margin-top: 20px;
    }
    .about h1 {
    font-size: 3rem;
    line-height: 1em;
    }
    .about-text {
        text-align: center;
    }
    .about-img {
        margin-top: 20px;
        width: 80%;
    }
    ul.icon-links {
        text-align: center;
        justify-content: center;
    }

    .divider {
        padding-bottom: 0;
        height: 200px;
    }
    .project-item {
        padding: 60px;
    }
    .mousey {
        display: none;
    }
  }
  @media (width <= 575px) {
    nav {
        display: block;
        background-color: #51545b;
        padding-top: 30px;
        padding-bottom: 20px;
        color: #fff;
        padding-right: 0;
        padding-left: 0;
    }
    .logo {
        text-align: center;
        margin-bottom: 15px;
    }
    .nav-sections {
        display: block;
        text-align: center;
    }

    ul.nav-sections {
        padding: 0;
        margin: 0;
    }

    nav ul li {
        padding-bottom: 10px;
        padding-top: 15px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.5);
        padding-bottom: 15px;
    }

    nav ul li:first-child {
        border-top: solid 1px rgba(255, 255, 255, 0.5);
    }
    nav ul li:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
    nav ul li a{
        color: #fff;
    }
    .about {
        padding-top: 20px;
    }

    .project-item {
        display: block;
        padding: 60px;
        text-align: center;
    }
  }
  